<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span>Puppet CI</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="">
              <a href="/configuration">Configure</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <div id = "alert_placeholder"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form id="configuration" method="POST" action="/configuration">
              <div class="panel-body">
                <p>Control Repository Configuration</p>
                <div class="form-group">
                  <label for="controlrepo">URL</label>
                  <input type="text" class="form-control input-lg" name="controlrepo"
                  id="controlrepo">
                </div>
                <hr>
                <p>Jenkins Configuration</p>
                <div class="form-group">
                  <label for="usr">URL</label>
                  <input type="text" class="form-control input-lg" id="usr" name="jenkins_url">
                </div>
                <div class="form-group">
                  <label for="usr">Username</label>
                  <input type="text" class="form-control input-lg" id="usr"
                  name="jenkins_username">
                </div>
                <div class="form-group">
                  <label for="usr">Password</label>
                  <input type="text" class="form-control input-lg" id="usr"
                  name="jenkins_password">
                </div>
                <a class="btn btn-lg btn-danger">Cancel</a>
                <button type="submit" class="btn btn-lg btn-success" id="btnClear">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <hr>
      </div>
    </div>

<script>
    (function($){
        function processForm( e ){
            $.ajax({
                url: '/configuration',
                dataType: 'text',
                type: 'post',
                contentType: 'application/x-www-form-urlencoded',
                data: $(this).serialize(),
                success: function( data, textStatus, jQxhr ){
                    $('#response pre').html( data );
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                }
            });

            e.preventDefault();
            bootstrap_alert = function() {}
            bootstrap_alert.warning = function(message) {
            $('#alert_placeholder').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
            }
            bootstrap_alert.warning('Configuration Successfully Updated!');

        }

        $('#configuration').submit( processForm );
    })(jQuery);
</script>


  </body>

</html>
